/*
* Add additional styles to the Accordion Start block render template,
additional you can use the backend loades styles in css/default.css + css/atomic.css */

.render-wrap.accordion-start {
  height: 80px;
  /* #e5e5e5+0,ffffff+68 */
  background: rgb(229,229,229); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 68%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 68%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.render-wrap.accordion-start .start-border {
  width: 100%;
  height: 80px;
  padding: 6px 20px;
  border-left: 5px solid #000;
  border-top: 5px solid #000;
  border-right: 5px solid #000;
}

.render-wrap.accordion-start .start-border::after {
  font-family: 'Icons Base';
  content: "\0045";
  position: absolute;
  right: 1.25em;
  top: 1em;
  font-size: 1.875em;
}
