/*
* Add additional styles to the quote slider block render template,
additional you can use the backend loades styles in css/default.css + css/atomic.css */

.render-wrap.block--quote-slider .quote-slider {
  position: relative;
}

.render-wrap.block--quote-slider .quote-slider::before {
  font-family: "Icons Base";
  content: "\0047";
  position: absolute;
  left: -45px;
  top: calc(50% - 22px);
  font-size: 30px;
  color: #b7b7b7;
}

.render-wrap.block--quote-slider .quote-slider::after {
  font-family: "Icons Base";
  content: "\0046";
  position: absolute;
  right: -45px;
  top: calc(50% - 22px);
  font-size: 30px;
  color: #b7b7b7;
}

.render-wrap.block--quote-slider .quote-wrap {
  position: relative;
  max-width: 100%;
  min-height: 200px;
  padding: 2em 8em 2em 2em;
  background: #dfdfdf;
}
.render-wrap.block--quote-slider .quote-wrap::after {
  content: '"';
  position: absolute;
  z-index: 1;
  font-style: italic;
  right: 0;
  top: 0;
  font-size: 15rem;
  width: 8rem;
  height: 8rem;
  transform: translate3d(0, -0.425em, 0);
}

.render-wrap.block--quote-slider .quote-wrap blockquote {
  margin: 0;
}

.render-wrap.block--quote-slider .covered-image-wrap {
  width: 100%;
  height: 100%;
}
