/*
* Add additional styles to the Gallery Slider block render template,
additional you can use the backend loades styles in css/default.css */

.render-wrap.block--gallery-slider .gallery-image-wrap {
  position: relative;
  height: 200px;
  max-width: 100%;
  margin: auto;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.render-wrap.block--gallery-slider .gallery-image-wrap::before {
  font-family: "Icons Base";
  content: "\0047";
  position: absolute;
  left: -45px;
  top: calc(50% - 22px);
  font-size: 30px;
  color: #b7b7b7;
}

.render-wrap.block--gallery-slider .gallery-image-wrap::after {
  font-family: "Icons Base";
  content: "\0046";
  position: absolute;
  right: -45px;
  top: calc(50% - 22px);
  font-size: 30px;
  color: #b7b7b7;
}
