/*
* Add additional styles to the header scene render template,
additional you can use the backend loades styles in css/default.css + css/atomic.css */

.render-wrap header.__text-bg-img {
  position: relative;
  width: 100%;
  height: 20rem;
}

#wpwrap .render-wrap header.__text-bg-img h1 {
  color: #fff !important;
  font-size: 50px;
}
