/*
* Add additional styles to the text block render template,
additional you can use the backend loades styles in css/default.css */

.render-wrap.block--text {
  padding-bottom: 1em;
}

.render-wrap.block--text .sec-wrap {
  position: relative;
  overflow: hidden;
  max-height: 150px;
}

.render-wrap.block--text .sec-wrap::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}
