/*
* Add additional styles to the Accordion End block render template,
additional you can use the backend loades styles in css/default.css + css/atomic.css */

.render-wrap.accordion-end {
  height: 60px;
  /* #ffffff+32,e5e5e5+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 32%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 32%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 32%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.render-wrap.accordion-end .end-border {
  width: 100%;
  height: 60px;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
  border-right: 5px solid #000;
}
