/* Atomic Styles */

/* ///////////////////// */

/* ***** Font Colors */

/* --- Default */

.fcolor--dark,
.fcolor--dark * {
  color: var(--color__dark);
}

.fcolor--light,
.fcolor--light * {
  color: var(--color__light);
}

/* --- Corporate */

.fcolor--primary,
.fcolor--primary * {
  color: var(--color__primary);
}

.fcolor--secondary,
.fcolor--secondary * {
  color: var(--color__secondary);
}

.fcolor--accent,
.fcolor--accent * {
  color: var(--color__accent);
}

.fcolor--lemon,
.fcolor--lemon * {
  color: var(--color__lemon);
}

.fcolor--lemon--light,
.fcolor--lemon--light * {
  color: var(--color__lemon--light);
}

.fcolor--mint,
.fcolor--mint * {
  color: var(--color__mint);
}

.fcolor--grape,
.fcolor--grape * {
  color: var(--color__grape);
}

.fcolor--strawberry,
.fcolor--strawberry * {
  color: var(--color__strawberry);
}

.fcolor--berry,
.fcolor--berry * {
  color: var(--color__berry);
}

.fcolor--theme,
.fcolor--theme * {
  color: var(--color__theme);
}

/* --- System */

.fcolor--success,
.fcolor--success * {
  color: var(--color__success);
}

.fcolor--warning,
.fcolor--warning * {
  color: var(--color__warning);
}

.fcolor--error,
.fcolor--error * {
  color: var(--color__error);
}

/* ***** Background Colors*/

/* --- Default */

.bg--dark {
  background-color: var(--color__dark);
}

.bg--light {
  background-color: var(--color__light);
}

/* --- Corporate */

.bg--primary {
  background-color: var(--color__primary);
}

.bg--secondary {
  background-color: var(--color__secondary);
}

.bg--accent {
  background-color: var(--color__accent);
}

.bg--lemon {
  background-color: var(--color__lemon);
}

.bg--lemon--light {
  background-color: var(--color__lemon--light);
}

.bg--mint {
  background-color: var(--color__mint);
}

.bg--mint--light {
  background-color: var(--color__mint--light);
}

.bg--grape {
  background-color: var(--color__grape);
}

.bg--grape--light {
  background-color: var(--color__grape--light);
}

.bg--strawberry {
  background-color: var(--color__strawberry);
}

.bg--split-dark__strawberry {
  background: -o-linear-gradient(top, var(--color__strawberry) 45%, var(--color__dark) 45%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(45%, var(--color__strawberry)),
    color-stop(45%, var(--color__dark))
  );
  background: linear-gradient(180deg, var(--color__strawberry) 45%, var(--color__dark) 45%);
}

.bg--strawberry--light {
  background-color: var(--color__strawberry--light);
}

.bg--split-dark__strawberry--light {
  background: -o-linear-gradient(top, var(--color__dark) 45%, var(--color__strawberry--light) 45%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(45%, var(--color__dark)),
    color-stop(45%, var(--color__strawberry--light))
  );
  background: linear-gradient(180deg, var(--color__dark) 45%, var(--color__strawberry--light) 45%);
}

.bg--berry {
  background-color: var(--color__berry);
}

.bg--berry--light {
  background-color: var(--color__berry--light);
}

.bg--split-dark__primary {
  background: -o-linear-gradient(top, var(--color__dark) 45%, var(--color__primary) 45%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(45%, var(--color__dark)),
    color-stop(45%, var(--color__primary))
  );
  background: linear-gradient(180deg, var(--color__dark) 45%, var(--color__primary) 45%);
}

.bg--offwhite {
  background-color: var(--color__background);
}

.bg--offwhite--yellow {
  background-color: var(--color__background--yellow);
}

.bg--theme {
  background-color: var(--color__theme);
}

/* --- Special Cases */

.bg--darksplit {
  background: -o-linear-gradient(top, var(--color__background) 40%, var(--color__dark) 40%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(40%, var(--color__background)),
    color-stop(40%, var(--color__dark))
  );
  background: linear-gradient(180deg, var(--color__background) 40%, var(--color__dark) 40%);
}

/* --- System */

.bg--success {
  background-color: var(--color__success);
}

.bg--warning {
  background-color: var(--color__warning);
}

.bg--error {
  background-color: var(--color__error);
}

/* ***** Borders */

.rounded-sm {
  border-radius: var(--radius__small);
}

.rounded-md {
  border-radius: var(--radius__regular);
}

.rounded-lg {
  border-radius: var(--radius__large);
}

/* ***** Box Shadow */

.shadow {
  -webkit-box-shadow: var(--shadow__regular);
  box-shadow: var(--shadow__regular);
}

/* ***** Icon Sizes */

.isize-sm {
  font-size: var(--isize__small);
}

.isize-md {
  font-size: var(--isize__regular);
}

.isize-lg {
  font-size: var(--isize__large);
}

/* ***** Flex */

.grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* ***** Overflows */

.overflow-hidden {
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ***** Display */

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/* ***** Position */

.relative {
  position: relative;
}

/* ***** Width */

.w-full {
  width: 100%;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* ***** Max Width */

.max-w-text {
  max-width: 90.75rem;
}

/* ***** Height */

.h-full {
  height: 100%;
}

/* ***** Fixed Aspect Ratios */
[class*="ratio--"] {
  position: relative;
  height: auto;
}

[class*="ratio--"]::before {
  display: block;
  content: "";
  width: 100%;
}

[class*="ratio--"] > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Fallback per padding-top */

.ratio--1_1::before {
  padding-top: 100%;
}
.ratio--2_1::before {
  padding-top: 50%;
}
.ratio--3_2::before {
  padding-top: calc(2 / 3 * 100%);
}
.ratio--3_4::before {
  padding-top: calc(4 / 3 * 100%);
}
.ratio--16_9::before {
  padding-top: calc(9 / 16 * 100%);
}
.ratio--16_10::before {
  padding-top: calc(10 / 16 * 100%);
}
.ratio--angebot-teaser::before {
  padding-top: calc(586 / 608 * 100%);
}

/* Moderne Browser überschreiben es */
@supports (aspect-ratio: 1 / 1) {
  [class*="ratio--"] {
    aspect-ratio: auto;
  }

  .ratio--1_1 {
    aspect-ratio: 1 / 1;
  }
  .ratio--2_1 {
    aspect-ratio: 2 / 1;
  }
  .ratio--3_2 {
    aspect-ratio: 3 / 2;
  }
  .ratio--3_4 {
    aspect-ratio: 3 / 4;
  }
  .ratio--16_9 {
    aspect-ratio: 16 / 9;
  }
  .ratio--16_10 {
    aspect-ratio: 16 / 10;
  }
  .ratio--angebot-teaser {
    /* aspect-ratio: 608 / 586; */
    aspect-ratio: 608 / 670;
  }

  /* Optional: padding entfernen */
  [class*="ratio--"]::before {
    display: none;
  }
}

/* TABLET //////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 55em) {
  .bg--split-dark__strawberry--light {
    background: -o-linear-gradient(
      top,
      var(--color__dark) 55%,
      var(--color__strawberry--light) 55%
    );
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(55%, var(--color__dark)),
      color-stop(55%, var(--color__strawberry--light))
    );
    background: linear-gradient(
      180deg,
      var(--color__dark) 55%,
      var(--color__strawberry--light) 55%
    );
  }

  .bg--split-dark__primary {
    background: -o-linear-gradient(top, var(--color__dark) 55%, var(--color__primary) 55%);
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(55%, var(--color__dark)),
      color-stop(55%, var(--color__primary))
    );
    background: linear-gradient(180deg, var(--color__dark) 55%, var(--color__primary) 55%);
  }
}
