/* Nav Styles */

/* ///////////////////// */

/* -------------- */
/* DESKTOP */
/* TABLET */
/* MOBILE */
/* MINI-MOBILE */
/* -------------- */

/* DESKTOP //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

/*
-----------------------------------------------------------------------------

01. Navigation

-----------------------------------------------------------------------------
*/

/* ***** Display */

.nav--desktop {
  display: block;
}

.nav--mobile {
  display: none;
}

/* ***** Nav-Wrap */

.nav--desktop .nav-wrap {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 100;
  background: var(--color__accent);
  overflow: visible;
}

.nav--desktop .nav-wrap__inner {
  max-width: 80em;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 0.6em 2em;
}

.nav--desktop .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ***** Nav-Styling */

.nav--desktop ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.nav--desktop ul.nav-list {
  padding: 0;
  margin: 1.2em 0;
  overflow: hidden;
}

.nav--desktop ul.nav-list li {
  margin-left: 1.5em;
  font-size: var(--fsize__h3);
  display: inline-block;
}

.nav--desktop a {
  color: var(--color__accent);
}

.nav--desktop a:hover,
.nav--desktop a.actual-parent,
.nav--desktop a.actual-site {
  color: var(--color__light);
}

/* ***** Breadcrumb */

.breadcrumb .current-page {
  color: var(--color__error);
}

/* MINI-DESKTOP //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 80em) {
}

/* TABLET //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 55em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */

  /* ***** Display */

  .nav--desktop {
    display: none;
  }

  .nav--mobile {
    display: block;
  }

  /* ***** Nav-Wrap */

  .nav--mobile .nav-wrap {
    z-index: 100;
    position: fixed;
    bottom: 0;
    top: unset;
    border-bottom: 0;
    width: 100%;
    height: 6rem;
    background: var(--color__light);
    box-shadow: 0 0 0.5em 0.125em rgb(0 0 0 / 10%);
  }

  .nav--mobile .nav-wrap__inner {
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 0.6em 2em;
  }

  .nav--mobile .logo-wrap {
    position: fixed;
    bottom: 1.625rem;
  }

  .nav--mobile ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }

  .nav--mobile ul.nav-list {
    overflow: visible;
    width: 100%;
    left: 0;
    top: 0.625em;
    margin: 1.25em 0;
    height: auto;
    padding: 0 2.1875em;
  }

  .nav--mobile ul.nav-list li {
    margin: 0;
    line-height: 1.8em;
    display: block;
    visibility: hidden;
  }

  /* ***** Nav-Wrap Trigger */

  .nav--mobile .nav-trigger {
    display: block;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 6rem;
    width: 6.75rem;
    cursor: pointer;
    z-index: 99;
  }

  .nav--mobile .nav-trigger span {
    position: absolute;
    left: 1.5625em;
    bottom: 2.75em;
    height: 0.125rem;
    width: 3.125rem;
    background: var(--color__primary);
  }
}

/* MOBILE //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 36em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */
}

/* MINI-MOBILE //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 27em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */

  /* ***** Nav-Wrap */

  /* ***** Nav-Styling */

  /* ***** Nav-Wrap Trigger */
}
