/* Nav Styles */

/* ///////////////////// */

/* -------------- */
/* DESKTOP */
/* TABLET */
/* MOBILE */
/* MINI-MOBILE */
/* -------------- */

/* DESKTOP //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

/*
-----------------------------------------------------------------------------

01. Navigation

-----------------------------------------------------------------------------
*/

/* ***** Display */

.nav--desktop {
  display: block;
}

.nav--mobile {
  display: none;
}

/* ***** Nav-Wrap */

.nav--desktop .nav-wrap,
.nav--home .nav-wrap {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav__height);
  background: var(--color__dark);
  overflow: visible;
}

.nav--desktop .nav-wrap__inner,
.nav--home .nav-wrap__inner {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.6em 1.32em;
}

/* ***** Nav-Styling */

.nav--desktop .logo {
  width: 16.8725rem;
  height: auto;
}

.nav--desktop ul,
.nav--home ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.nav--desktop ul.nav-list,
.nav--home ul.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav--desktop ul.nav-list li,
.nav--home ul.nav-list li {
  display: inline-block;
  font-size: var(--fsize__nav);
  line-height: 1em;
  margin-left: 1.875em;
}

.nav--desktop ul.nav-list li.has-icon,
.nav--home ul.nav-list li.has-icon {
  margin-left: 1.75em;
}

.nav--desktop ul.nav-list .icon-wrap,
.nav--home ul.nav-list .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: var(--color__theme);
  font-size: 1.25rem;
  line-height: 1em;
}

.nav--desktop ul.nav-list .icon-wrap > .icon-mail,
.nav--home ul.nav-list .icon-wrap > .icon-mail {
  transform: translate3d(0, 0.075em, 0);
}

/* --- */

.nav--desktop a {
  color: var(--color__theme);
}

/* .nav--desktop a:hover,
.nav--desktop a.actual-parent,
.nav--desktop a.actual-site {
  text-decoration: none;
} */

/* ***** Nav-Wrap Scrolled Case (Home) */

body.home .nav--desktop .nav-wrap {
  transform: translate3d(0, -100%, 0);
}

/* ***** Home Navigation */

.nav--home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: transparent;
}

/* --- Nav-Wrap */

.nav--home .nav-wrap {
  position: absolute;
  height: auto;
  background: transparent;
}

.nav--home .nav-wrap__inner {
  padding: 1.5em 1.375em;
}

/* --- Nav-Styling */

.nav--home svg.lab-logo {
  width: 18rem;
  height: 18rem;
}

.nav--home ul.nav-list .icon-wrap {
  background-color: var(--color__dark);
}

.nav--home a {
  color: var(--color__dark);
}

/* ***** Breadcrumb */

.breadcrumb .current-page {
  color: var(--color__error);
}

/* MINI-DESKTOP //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 80em) {
}

/* TABLET //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 55em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */

  /* ***** Display */

  .nav--desktop {
    display: none;
  }

  .nav--mobile {
    display: block;
  }

  /* ***** Nav-Wrap */

  .nav--mobile .nav-wrap {
    z-index: 100;
    position: fixed;
    bottom: 0;
    top: unset;
    border-bottom: 0;
    width: 100%;
    height: 6rem;
    background: var(--color__light);
    box-shadow: 0 0 0.5em 0.125em rgb(0 0 0 / 10%);
  }

  .nav--mobile .nav-wrap__inner {
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 0.6em 2em;
  }

  /* --- Nav-Styling */

  .nav--home svg.lab-logo {
    width: 12rem;
    height: 12rem;
  }

  .nav--desktop ul.nav-list .icon-wrap,
  .nav--home ul.nav-list .icon-wrap {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8125rem;
  }

  .nav--mobile .logo-wrap {
    position: fixed;
    bottom: 1.625rem;
  }

  .nav--mobile ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }

  .nav--mobile ul.nav-list {
    overflow: visible;
    width: 100%;
    left: 0;
    top: 0.625em;
    margin: 1.25em 0;
    height: auto;
    padding: 0 2.1875em;
  }

  .nav--mobile ul.nav-list li {
    margin: 0;
    line-height: 1.8em;
    display: block;
    visibility: hidden;
  }

  /* ***** Nav-Wrap Trigger */

  .nav--mobile .nav-trigger {
    display: block;
    right: 0;
    bottom: 0;
    position: fixed;
    height: 6rem;
    width: 6.75rem;
    cursor: pointer;
    z-index: 99;
  }

  .nav--mobile .nav-trigger span {
    position: absolute;
    left: 1.5625em;
    bottom: 2.75em;
    height: 0.125rem;
    width: 3.125rem;
    background: var(--color__primary);
  }
}

/* MOBILE //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 36em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */
}

/* MINI-MOBILE //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 27em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */

  /* ***** Nav-Wrap */

  /* ***** Nav-Styling */

  /* ***** Nav-Wrap Trigger */
}
