/* Nav Styles */

/* ///////////////////// */

/* -------------- */
/* DESKTOP */
/* TABLET */
/* MOBILE */
/* MINI-MOBILE */
/* -------------- */

/* DESKTOP //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

/*
-----------------------------------------------------------------------------

01. Navigation

-----------------------------------------------------------------------------
*/

/* ***** Display */

.nav--desktop {
  display: block;
}

.nav--mobile {
  display: none;
}

/* ***** Nav-Wrap */

.nav--desktop .nav-wrap,
.nav--home .nav-wrap {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav__height);
  background: var(--color__dark);
  overflow: visible;
}

.nav--desktop .nav-wrap__inner,
.nav--home .nav-wrap__inner {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: auto;
  padding: 0.6em 1.32em;
}

/* ***** Nav-Styling */

.nav--desktop .logo {
  width: 16.8725rem;
  height: auto;
}

.nav--desktop ul,
.nav--home ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.nav--desktop ul.nav-list,
.nav--home ul.nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.nav--desktop ul.nav-list li,
.nav--home ul.nav-list li {
  display: inline-block;
  font-size: var(--fsize__nav);
  line-height: 1em;
  margin-left: 1.875em;
}

.nav--desktop ul.nav-list li.has-icon,
.nav--home ul.nav-list li.has-icon {
  margin-left: 1.75em;
}

.nav--desktop ul.nav-list .icon-wrap,
.nav--home ul.nav-list .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: var(--color__theme);
  font-size: 1.25rem;
  line-height: 1em;
}

.nav--desktop ul.nav-list .icon-wrap > .icon-mail,
.nav--home ul.nav-list .icon-wrap > .icon-mail {
  transform: translate3d(0, 0.075em, 0);
}

/* --- */

.nav--desktop a {
  color: var(--color__theme);
}

/* .nav--desktop a:hover,
.nav--desktop a.actual-parent,
.nav--desktop a.actual-site {
  text-decoration: none;
} */

/* ***** Nav-Wrap Scrolled Case (Home) */

/* body.home .nav--desktop .nav-wrap {
  transform: translate3d(0, -100%, 0);
} */

/* ***** Home Navigation */

.nav--home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: transparent;
}

/* --- Nav-Wrap */

.nav--home .nav-wrap {
  position: absolute;
  height: auto;
  background: transparent;
}

.nav--home .nav-wrap__inner {
  padding: 1.5em 1.375em;
}

/* --- Nav-Styling */

.nav--home svg.lab-logo {
  width: 18rem;
  height: 18rem;
}

.nav--home svg.lab-logo path.l {
  fill: var(--color__primary);
}

.nav--home svg.lab-logo g.letters {
  transform-origin: center center;
}

.nav--home ul.nav-list .icon-wrap {
  background-color: var(--color__dark);
}

.nav--home a {
  color: var(--color__dark);
}

/* ***** Breadcrumb */

.breadcrumb .current-page {
  color: var(--color__error);
}

/* MINI-DESKTOP //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 80em) {
}

/* TABLET //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 55em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */

  /* ***** Display */

  .nav--desktop {
    display: none;
  }

  .nav--mobile {
    display: block;
    --navheight: 5rem;
  }

  /* ***** Nav-Styling */

  .nav--mobile a {
    color: var(--color__primary);
  }

  /* ***** Nav-Wrap */

  .nav--mobile .nav-wrap {
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--navheight);
    background: var(--color__dark);
  }

  .nav--mobile .nav-wrap__inner {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  /* ***** Navbar */

  .nav--mobile .navbar {
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--navheight);
  }

  .nav--mobile .navbar__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
  }

  .nav--mobile .navbar .logo-wrap {
    position: fixed;
    bottom: 1.5em;
  }

  .nav--mobile .navbar .logo-wrap svg.logo {
    width: 15rem;
    height: auto;
  }

  /* --- Nav Trigger */

  .nav--mobile .navbar .nav-trigger {
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 6rem;
    height: var(--navheight);
    cursor: pointer;
  }

  .nav--mobile .navbar .nav-trigger .icon-cross {
    font-size: 1em;
    display: block;
    color: var(--color__primary);
    position: absolute;
    left: -0.1em;
    transform: translate3d(0, 0.1em, 0);
  }

  /* ***** Menu */

  .nav--mobile .menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .nav--mobile .menu__inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .nav--mobile .menu__bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 1.5rem);
    background: var(--color__primary);
    opacity: 0.9;
  }

  /* --- Menu Card */

  .nav--mobile .menu-card {
    position: relative;
    width: 100%;
    max-width: 33rem;
    height: auto;
    background: var(--color__dark);
    aspect-ratio: 1 / 1;
    transform: rotate(-5deg);
  }

  /* --- Close Menu Card */

  .nav--mobile .menu-card .close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
  }

  .nav--mobile .menu-card .close .icon-cross {
    font-size: 2rem;
    color: var(--color__primary);
  }

  /* --- Overflow Wrap */

  .nav--mobile .menu .overflow-wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .nav--mobile .menu .overflow-wrap__inner {
    overflow: auto;
    max-height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* --- Navlist */

  .nav--desktop ul.nav-list .icon-wrap,
  .nav--home ul.nav-list .icon-wrap {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.8125rem;
  }

  .nav--mobile ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }

  .nav--mobile ul.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2em 2.1875em;
    overflow: visible;
  }

  .nav--mobile ul.nav-list li {
    display: block;
    font-size: 3.5rem;
    line-height: 1.1em;
    margin-bottom: 0.5em;
  }

  /* ***** Home Navigation */

  /* --- Nav-Styling */

  .nav--home svg.lab-logo {
    width: 12rem;
    height: 12rem;
  }

  /* ***** Lab Logo */

  /* .nav--home svg.lab-logo {
    width: 12rem;
    height: 12rem;
  } */
}

/* MOBILE //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 36em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */

  /* ***** Home Navigation */

  /* --- Nav-Styling */

  .nav--home svg.lab-logo {
    position: absolute;
  }
}

/* MINI-MOBILE //////////////////////////////////////////////////////////////// */
/*
01. Navigation
*/

@media only screen and (max-width: 27em) {
  /*
  -----------------------------------------------------------------------------

  01. Navigation

  -----------------------------------------------------------------------------
  */

  /* ***** Nav-Wrap */

  /* ***** Nav-Styling */

  /* ***** Nav-Wrap Trigger */
}
